<!doctype html>

{% load static %}

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Thiago Brown">
    <title>Planejador de Tarefas</title>  

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap5/css/sidebars.css' %}" rel="stylesheet">    

  </head>
  <body>
    

    <main>

      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4">Planejador de Tarefas</span>
        </a>
        <hr>
        <ul class="nav flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link text-white" aria-current="page">
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a href="/planejamento" class="nav-link text-white">
              Planejamento
            </a>
          </li>
          <li class="nav-item">
            <a href="/executados" class="nav-link text-white">
              Executado
            </a>
          </li>
          <li class="nav-item">
            <a href="/estatisticas" class="nav-link text-white">
              Estatísticas
            </a>
          </li>
        </ul>
      </div>

      <div class="b-example-divider"></div>

      {% block conteudo %} {% endblock conteudo %}

    </main>

    <script src="{% static 'bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap5/js/sidebars.js' %}"></script>

  </body>
</html>
