{% extends "base.html" %}

{% block conteudo %}
<div class="mx-auto" style="width: 200px;">
    <h4>
        Crie um novo planejamento
    </h4>
</div>
<div class="container">

    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for erro in field.errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ erro }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}                
    {% endif %}

    <form action="{% url 'criar_planejamento' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form_planejamento %}
        <div class="form-group col-md-12">
            <label>{{ field.label }} {% if field.field.required %} * {% endif %}</label>
            <input name="{{ field.name }}" class="form-control"  type="text" value="{{ field.value|default_if_none:'' }}">
        </div>
        {% endfor %}

        <div class="text-right">
            <a href="{% url 'index' %}" type="button">
                <span class="text">Cancelar</span>
            </a>

            <button class="btn btn-primary" type="submit">
                <span class="text">Criar Projeto</span>
            </button>
        </div>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>



{% endblock conteudo %}