{% extends "base.html" %}

{% block conteudo %}

<div class="container">
    <h2>Detalhes</h2>
    <div class="container">
        <p>{{ planejamento.id }}</p>
        <p>{{ planejamento.nome_planejamento }}</p>
        <p>{{ planejamento.inicio }}</p>
        <p>{{ planejamento.termino }}</p>
        <p>{{ planejamento.descricao }}</p>
    </div>
</div>



<div class="text-right">
    <a href="{% url 'index' %}" type="button">
        <span class="text">Voltar</span>
    </a>

    <button class="btn btn-primary" type="submit">
        <span class="text"><a href="{% url 'execucao' planejamento.id %}">Executar Tarefa</a></span>
    </button>
</div>

{% endblock conteudo %}