{% extends "base.html" %}

{% block conteudo %}

<div class="container">
    <h1>Tarefas</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Inicio</th>
            </tr>
        </thead>

        <tbody>
            {% for planejamentos in planejamento %}
                <tr>
                    <td scope="row">{{ planejamentos.id }}</td>
                    <td scope="row"><a href="{% url 'detalhes_planejamento' planejamentos.id %}">{{ planejamentos.nome_planejamento }} </a></td>
                    <td scope="row">{{ planejamentos.inicio }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}