{% extends "base.html" %}

{% block conteudo %}
<div class="card-body">
    <h4 class="texto-primary">
        Crie um novo planejamenrto
    </h4>

    <div class="container2">

        <form action="{% url 'planejamento' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group col-md-12">
                <label>{{ field.label }} {% if field.field.required %} * {% endif %}</label>
                <input name="{{ field.name }}" class="form-control"  type="text" value="{{ field.value|default_if_none:'' }}">
            </div>
            {% endfor %}

            <div class="text-right">
                <a href="{% url 'index' %}" type="button">
                    <span class="text">Cancelar</span>
                </a>

                <button class="btn btn-primary" type="submit">
                    <span class="text">Criar Projeto</span>
                </button>
            </div>
        </form>
    </div>

</div>


{% endblock conteudo %}